{% macro render(page) %}
  {% set authors = page.taxonomies.authors | default(value=[]) %}
  {% for author_slug in authors %}
    {% set author = get_page(path="authors/"~author_slug~"/index.md") %}
    <a
      class="text-decoration-none text-reset"
      href="{{get_taxonomy_url(kind="authors", name=author_slug)}}"
      title="{{author.title}}"
    ><b>{{author.title}}</b></a>{% if not loop.last %}, {% endif %}
  {% endfor %}{% if authors | length > 0 %} - {% endif %}
  {{page.date | date(format=config.extra.date_format)}}
{% endmacro %}
