{% import "macros/image.html" as image %}

{% macro render(author_slug) %}
  {% set author = get_page(path="authors/"~author_slug~"/index.md") %}
  <div class="card my-5">
    <div class="row g-0">
      <div class="col-md-4 d-flex align-items-center">
        {{image::render(
          src=get_url(path="authors/"~author_slug~"/"~author.extra.image),
          alt=author.title,
          extra="rounded-circle"
        )}}
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">
            <a
              class="text-decoration-none text-reset"
              href="{{get_taxonomy_url(kind="authors", name=author_slug)}}"
            >{{author.title}}</a>
          </h5>
          <p class="card-text">{{author.content | safe}}</p>
        </div>
      </div>
    </div>
  </div>
{% endmacro %}
