{% extends "base.html" %}
{% import "macros/post.html" as post %}
{% import "macros/header.html" as header %}

{% block content %}
  {% for row in config.extra.zolastrap_home %}
    <div class="row">
      {% for item in row %}
        <div class="col-md-{{item.size}}">
          {% if item.title %}
            {{header::render(text=item.title)}}
          {% endif %}
          {% set articles = get_section(path=item.section~"/_index.md") %}
          {% for page in articles.pages | slice(start=item.start, end=item.end) %}
            {% if item.type %}
            {% set type = item.type %}
            {% else %}
            {% set type = 'default' %}
            {% endif %}
            {{post::render(page=page, type=type)}}
          {% endfor %}
        </div>
      {% endfor %}
    </div>
  {% endfor %}
  {% if config.extra.zolastrap_tags %}
    {{header::render(text=config.extra.zolastrap_tags)}}
    {% set tags = get_taxonomy(kind="tags") %}
    {% for item in tags.items %}
      <a
        class="text-decoration-none link-dark"
        href="{{item.permalink}}"
      >{{item.name}}</a> | 
    {% endfor %}
  {% endif %}
{% endblock content %}
