{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block title %}{{page.title}} | {{config.title}}{% endblock %}

{% block content %}
  <h1>{{page.title}}</h1>
  <p class="text-muted">
    {{macros::author(page=page)}}
  </p>
  {% if page.taxonomies.tags %}
  <p>
    {% for tag in page.taxonomies.tags %}
      <a
        href="{{get_taxonomy_url(kind="tags", name=tag)}}"
        class="badge bg-dark text-decoration-none link-light mx-2"
      >
        {{tag}}
      </a>
    {% endfor %}
  </p>
  {% endif %}
  <div class="content">
    {{page.content | safe}}
  </div>
  {% for author_slug in page.taxonomies.authors %}
    {{macros::authorbox(author_slug=author_slug)}}
  {% endfor %}
{% endblock %}
