{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block content %}
  {% if section.title %}
    <h1 class="px-3">{{section.title}}</h1>
  {% endif %}
  {% if section.description %}
    <p class="px-3 text-muted">{{section.description}}</p>
  {% endif %}
  {% if section.content %}
    <div class="px-3">{{section.content | safe}}</div>
  {% endif %}
	{% for page in paginator.pages %}
    {{macros::post(page=page)}}
	{% endfor %}
  {{macros::paginator(paginator=paginator)}}
{% endblock content %}
